@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Erica+One|Fascinate|Fascinate+Inline|Modak|Passion+One:900|Sigmar+One|Sniglet:800|Sonsie+One&display=swap');
.header {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 20px;
  background-color: #aaa;
  border: 10px outset #ccc;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}
.header-logo-lnk {
  display: inline-block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: darkcyan;
  border-radius: 25px;
  border: 1px solid transparent;
}
.header-logo-lnk:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 3px #888;
}
.header-logo-lnk:active {
  box-shadow: inset 0 0 4px 3px #888;
}
.header-logo-lnk:visited {
  color: darkcyan;
}
.header-logo-text {
  font-family: 'Black Ops One', cursive;
  font-size: 50px;
}
.header-form {
  padding: 10px 20px;
}
.header-form:focus-within {
  box-shadow: 0 0 4px 3px #888;
  border-radius: 20px;
}
.header-form-input {
  width: 150px;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid darkcyan;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}
.header-form-btn {
  padding: 5px 20px;
  color: darkcyan;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid transparent;
  outline: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}
.header-form-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 3px #888;
}
.header-form-btn:active {
  box-shadow: inset 0 0 4px 3px #888;
}
.header-nav-link {
  width: 90px;
  padding: 5px 20px;
  text-decoration: none;
  color: darkcyan;
  border-radius: 20px;
  margin: 0 20px 0 0;
}
.header-nav-link:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 3px #888;
}
.header-nav-link:active {
  box-shadow: inset 0 0 4px 3px #888;
}
.header-nav-cart-btn {
  width: 90px;
  padding: 5px 20px;
  color: darkcyan;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid transparent;
  outline: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}
.header-nav-cart-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 3px #888;
}
.header-nav-cart-btn:active {
  box-shadow: inset 0 0 4px 3px #888;
}
.header-nav-cart-chkbox {
  display: none;
}
.header-nav-cart-chkbox:checked ~ .cart {
  display: block;
}
.main {
  width: 100%;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url('../img/bg-main.png');
  position: relative;
}
.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}
.catalog-product {
  min-width: 300px;
  max-width: 400px;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
}
.catalog-product-img {
  margin-bottom: 20px;
}
.catalog-product-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: grey;
  margin-bottom: 0;
}
.catalog-product-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: yellow;
  margin-bottom: 20px;
}
.catalog-product-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 5px 20px;
  color: darkcyan;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid transparent;
  outline: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
.catalog-product-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 3px #888;
}
.catalog-product-btn:active {
  box-shadow: inset 0 0 4px 3px #888;
}
.footer {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: #333;
  text-align: right;
}
.footer-text {
  color: #888;
  font-family: Arial Narrow, sans-serif;
  font-size: 16px;
}
.cart {
  display: none;
  position: absolute;
  top: 0;
  right: 75px;
  width: 300px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 25px;
  border-top-right-radius: 0;
}
.cart:before {
  position: absolute;
  top: -15px;
  right: 0;
  content: "";
  border-top: 30px solid transparent;
  border-right: 30px solid #fff;
}
.cart-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.cart-item-img {
  display: inline-block;
  margin-right: 40px;
  line-height: 30px;
  vertical-align: middle;
}
.cart-item-item {
  display: inline-block;
  min-width: 200px;
  margin-right: 40px;
  color: black;
  line-height: 30px;
  vertical-align: middle;
}
.cart-item-price {
  display: inline-block;
  min-width: 100px;
  margin-right: 40px;
  font-weight: 800;
  color: yellow;
  line-height: 30px;
  vertical-align: middle;
}
.cart-item-quantity {
  display: inline-block;
  min-width: 100px;
  margin-right: 40px;
  font-weight: 800;
  color: goldenrod;
  line-height: 30px;
  vertical-align: middle;
}
.cart-item-remove-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  vertical-align: middle;
}
.cart-total {
  display: block;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 800;
}
.cart-hide-btn {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
}
